* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.wrapper {
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
}

/* HEADING PART */
/* HEADING PART */
/* HEADING PART */
.heading-part {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading-part h1 {
    color: white;
    font-family: "Open sans", sans-serif;
    font-size: 60px;
    letter-spacing: 8.5px;
    margin-top: 40px;
}

.heading-part p {
    color: white;
    font-family: "Open sans", sans-serif;
    font-size: 18px;
    letter-spacing: 3px;
    margin-top: 25px;
}

/* IMAGE PART */
/* IMAGE PART */
/* IMAGE PART */

.image-part {
    flex: 3;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 50px;
}

.dish1 img, .dish2 img, .dish3 img {
    max-width: 350px;
}

.dish1, .dish2, .dish3 {
    transition: 0.7s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dish1 img, .dish2 img, .dish3 img {
    transition: 0.7s;
}

.image-part a {
    margin-top: 20px;
    color: white;
    font-family: "Poppins", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;

    
}

.dish1 img:hover {
    scale: 1.1;
    transition: 1s;
}

.dish2 img:hover {
    scale: 1.1;
    transition: 1s;
}

.dish3 img:hover {
    scale: 1.1;
    transition: 1s;
}

/* SIGNATURE PART */
/* SIGNATURE PART */
/* SIGNATURE PART */

.signature-part {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.signature-part img {
    width: 200px;
}





